contourpy==1.1.0
cycler==0.11.0
fonttools==4.42.0
joblib==1.4.2
kiwisolver==1.4.4
matplotlib==3.7.2
numpy==1.25.2
packaging==23.1
Pillow==10.0.0
pyaml==24.9.0
pyparsing==3.0.9
python-dateutil==2.8.2
PyYAML==6.0.2
scikit-learn==1.5.2
scikit-optimize==0.10.2
scipy==1.14.1
six==1.16.0
threadpoolctl==3.5.0
